@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --background-color: #000;
  --text-color: #d94505;
  --text-color-1: #bababa;
  --hover-color:#bababa;
  --text-color-2: #ffa500;
  --text-color-3: #fff;
  --div-color: #808080;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 12pt;
  overflow-x: hidden;
  font-family: Poppins, "Segoe UI", Tahoma, Verdana, sans-serif;
  background-color: var(--background-color);
}

/*header*/

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  height: 80px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.logo {
  flex: 1;
  color: var(--text-color);
  font-weight: bold;
  font-size: 30px;
}

.links-container {
  height: 100%;
  display: flex;
  align-items: center;
}

nav a {
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;

  &:hover{
    color: var(--hover-color);
  }
}

nav svg {
  fill: var(--text-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.hire-me-button Button {
  background-color: transparent;
  padding: 10px;
  width: 150px;
  border-radius: 15px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
}

/* home */
#Home {
  background-color: var(--background-color);
  width: 100%;
}

.home-container {
  position: relative;
  background-image: url('images/feren.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
}

.home-container > * {
  position: relative;
  z-index: 2;
}

.home-container img {
  margin: auto;
  width: 40rem;
}

/* sections */
.Section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.section-title {
  margin: 4rem 0;
  font-size: 40px;
  color: var(--text-color);
  text-align: center;
  text-decoration: underline;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--div-color);
  margin: 1rem 0;
  border-radius: 25px;
  width: 100%;
  max-width: 58%;
  padding: 1rem;
}

.section-container img {
  width: 100px;
  border-radius: 20px;
  padding: 10px;
}

.section-item-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px 0 10px;
}

.section-name-and-price {
  font-size: 20px;
  color: var(--text-color-2);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.section-item-description {
  color: var(--text-color-1);
  font-size: 11px;
  line-height: 1.4;
}

.social-media-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.social-media-icon a{
  color: var(--text-color);
  font-size: 40px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 80px;
    font-weight: 600;
}





/* responsive website */
@media only screen and (max-width: 768px) {
  nav {
    height: 50px;
  }

  .logo {
    font-size: 20px;
  }

  Button {
    width: 130px;
    height: 40px;
  }

  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: var(--background-color);
    box-shadow: -5px 0 -5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }

  nav a {
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
  }

  .open-sidebar-button {
    display: block;
  }

  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  /* home */

  #Home {
    height: auto;
    margin-bottom: 40px;
  }

  .home-container {
    height: 50%;
  }

  .home-container img {
    width: 20rem;
    margin-top: 50px;
  }
  
  /* section */

  #Appetizers{
    margin-top: 50px;
  }

  .section-title{
    font-size: 1.1rem;
    margin: 2rem 0;
    text-decoration: underline;
  }

  .section-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--div-color);
    margin: 1rem 0;
    border-radius: 15px;
    width: 90%;
    max-width: 90%;
    padding: 0.5rem;
  }
  
  .section-container img {
    width: 90px;
    border-radius: 20px;
    padding: 10px;
  }
  
  .section-item-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px 0 10px;
  }
  
  .section-name-and-price {
    font-size: 11px;
    color: var(--text-color-2);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }
  
  .section-item-description {
    color: var(--text-color-1);
    font-size: 7px;
    line-height: 1.4;
  }

  .social-media-icon a{
    font-size:30px;
    margin: 10px;
  }

footer{
    font-size: x-small;
    height: 50px;
}

}